/*
* Base/global css style
*/
* {
  ::-moz-selection {
    color: white;
    background: black;
  }

  ::selection {
    color: white;
    background: black;
  }

  :focus { outline: none; }
  ::-moz-focus-inner { border: 0; }
  ::-moz-focus-outer { border: 0; }
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  
  &:focus {
    text-decoration: none;
  }
}

body {
  padding: 0;
  margin: 0;
}

button:active {
  outline:none;
  border: 0;
}

figure {
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;

  img {
    width: 100%;
  }

  figcaption {
    margin-top: calc(#{$gutter} / 2);
    font-size: 0.8em;
  }
}

blockquote {
  border-left: 1px solid;
  margin-left: 1.5em;
  padding-left: 1.5em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;

  @media #{$breakpoint-sm-up} {
    margin-left: 3.5em;
  }
}
